<table border=1>
<ul>
<li>
 <tr>
 <th>sender</th>
 <th>receiver</th>
 <th>tracking</th>
 <th>notes</th>
 </tr>
 <tr ng-repeat="parcelorder in parcelorders" ng-redirect-to="#edit/{{parcelorder.id}}">
 <td>{{parcelorder.sender.first_name}} {{parcelorder.sender.last_name}}</td>
 <td>{{parcelorder.receiver.first_name}} {{parcelorder.receiver.last_name}}</td>
 <td>{{parcelorder.tracking}}</td>
 <td>{{parcelorder.notes}}</td>
 </li>
</ul>
</table>
<br/><input type="button" ng-redirect-to="#new" value="Create ParcelOrder" />