<form ng-submit="submit()">  
<table>
	<tr>
	<td>Sender:</td>
	</tr>
	<tr>    
	<td>Sender First Name</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.sender.first_name" /></td>
    </tr>    
	<tr>      
	<td>Sender Last Name</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.sender.last_name" /></td>    
	</tr>
	<tr> 
	<td>City</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.sender.city" /></td>    
	</tr>
	<tr> 
	<td>Street</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.sender.street" /></td>    
	</tr>
	<tr> 
	<td>Postal Code</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.sender.postal_code" /></td>    
	</tr>
	<tr> 
	<td>Phone</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.sender.phone" /></td>    
	</tr>
	<tr> 
	<td>Email</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.sender.email" /></td>    
	</tr>
	<tr>
	<tr>
	<td>Receiver:</td>
	</tr>	
	<td>Receiver First Name</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.receiver.first_name" /></td>
    </tr>    <tr>      
	<td>Receiver Last Name</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.receiver.last_name" /></td>
    </tr>
	<tr> 
	<td>City</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.receiver.city" /></td>    
	</tr>
	<tr> 
	<td>Street</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.receiver.street" /></td>    
	</tr>
	<tr> 
	<td>Postal Code</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.receiver.postal_code" /></td>    
	</tr>
	<tr> 
	<td>Phone</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.receiver.phone" /></td>    
	</tr>
	<tr> 
	<td>Email</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.receiver.email" /></td>    
	</tr>
	<tr>
	<td>Parcel data:</td>
	</tr>
	<td>Notes</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.parcel.notes" /></td>    
	</tr>
	<td>Weight</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.parcel.weight" /></td>    
	</tr>
    <tr>      
	<td>Tracking</td>      
	<td colspan=2><input type="checkbox" ng-model="parcelorder.tracking" /></td>    
	</tr>    
	<tr>      
	<td>Notes</td>      
	<td colspan=2><input type="text" ng-model="parcelorder.notes" /></td>    
	</tr>        
	<tr><td height=5></td></tr>    
	<tr>
	<td align="right"><input type="button" value="Delete" ng-click="delete()" /></td>	     
	<td align="right"><input type="submit" id="submit" value="Save" /></td>       
	<td align="right"><input type="button" value="Cancel" ng-redirect-to="#" /></td>
	</tr>  
</table>
</form>