<table border=1>
	<tr>
		<th>City</th>
		<th>PostalCode</th>
		<th>Street</th>
		<th>FirstName</th>
		<th>LastName</th>
		<th>Phone</th>
		<th>Email</th>
		<th>Weigth</th>
	</tr>
	<tr ng-repeat="parcel in parcels" ng-redirect-to="#edit/{{parcel.id}}">
	  <td>{{parcel.city}}</td>
	  <td>{{parcel.postal_code}}</td>
	  <td>{{parcel.street}}</td>
	  <td>{{parcel.first_name}}</td>
	  <td>{{parcel.last_name}}</td>
	  <td>{{parcel.phone}}</td>
	  <td>{{parcel.email}}</td>
	  <td>{{parcel.weight}}</td>
	</tr>
</table>
<br/>
<input type="button" ng-redirect-to="#new" value="Create Parcel" />
