<form ng-submit="submit()">
<table>
	<tr>
		<td>City</td>
		<td colspan=2><input type="text" ng-model="parcel.city" /></td>
	</tr>
	<tr>	
		<td>PostalCode</td>
	  <td colspan=2><input type="text" ng-model="parcel.postal_code" /></td>
	</tr>
	<tr>
		<td>Street</td>
	  <td colspan=2><input type="text" ng-model="parcel.street" /></td>
	</tr>
	<tr>
		<td>FirstName</td>
	  <td colspan=2><input type="text" ng-model="parcel.first_name" /></td>
	</tr>
	<tr>
		<td>LastName</td>
	  <td colspan=2><input type="text" ng-model="parcel.last_name" /></td>
	</tr>
	<tr>
		<td>Phone</td>
	  <td colspan=2><input type="text" ng-model="parcel.phone" /></td>
	</tr>
	<tr>
		<td>Email</td>
	  <td colspan=2><input type="text" ng-model="parcel.email" /></td>
	</tr>
	<tr>
		<td>Weigtd</td>
	  <td colspan=2><input type="text" ng-model="parcel.weight" /></td>
	</tr>
	<tr><td height=5></td></tr>
	<tr>
		<td align="right"><input type="button" value="Delete" ng-click="delete()" /></td>		
		<td align="right"><input type="submit" id="submit" value="Save" /></td>		
		<td align="right"><input type="button" value="Cancel" ng-redirect-to="#" /></td>
	</tr>
</table>
</form>
